<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Detail Collection</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	</head>
<body>
<div id="app">
	<div class="container">
		<h1 class="fleft">Registered Details</h1>
		<button class="fright addNew" @click="addview=true">Add New</button>
		<div class="clear"></div>
		<hr>
		<p class="errorMessage" v-if="errorMessage">{{errorMessage}}</p>
		<p class="successMessage" v-if="successMessage">{{successMessage}}</p>
		<table class="list" cellspacing="2" cellpadding="2">
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Email</th>
				<th>Mobile</th>
				<th colspan="2">Action</th>
			</tr>
			<tr v-for="user in users">
				<td>{{user.id}}</td>
				<td>{{user.username}}</td>
				<td>{{user.email}}</td>
				<td>{{user.mobile}}</td>
				<td><button  @click="editview=true; selectUser(user)">Edit</button></td>
				<td><button   @click="deleteview=true;  selectUser(user)">Delete</button></td>
			</tr>

		</table>
	</div>
	<div class="model" v-if="addview">
		<div class="modelContainer">
			<div class="modelHeading">Add User Detail</div>
				<button class="fright close" @click="addview=false">x</button>
				<div class="modelContent">
						<table class="form">
							<tr>
								<th>Username</th>
								<th>:</th>
								<td><input type="text" name="username" v-model="newuser.username"></td>
							</tr>
							<tr>
								<th>Email</th>
								<th>:</th>
								<td><input type="text" name="username" v-model="newuser.email"></td>
							</tr>
							<tr>
								<th>Mobile</th>
								<th>:</th>
								<td><input type="text" name="username" v-model="newuser.mobile"></td>
							</tr>
							<tr>
							<td><button @click="addview=false; saveUser()">Add</button></td>
							</tr>
						</table>
				</div>
		</div>
	</div>


	<div class="model" v-if="editview">
		<div class="modelContainer">
			<div class="modelHeading">Edit User Detail</div>
				<button class="fright close" @click="editview=false">x</button>
				<div class="modelContent">
						<table class="form">
							<tr>
								<th>Username</th>
								<th>:</th>
								<td><input type="text"  v-model="clickedUser.username"></td>
							</tr>
							<tr>
								<th>Email</th>
								<th>:</th>
								<td><input type="text"  v-model="clickedUser.email"></td>
							</tr>
							<tr>
								<th>Mobile</th>
								<th>:</th>
								<td><input type="text" v-model="clickedUser.mobile"></td>
							</tr>
							<tr>
							<td><button @click="editview=false; updateUser()">Edit</button></td>
							</tr>
						</table>
				</div>
		</div>
	</div>


	<div class="model" v-if="deleteview">
		<div class="modelContainer">
			<div class="modelHeading">&nbsp;&nbsp;Confirm Box &nbsp; &nbsp;<p class="fleft">Are you sure?</p></div>
				<button class="fright close" @click="deleteview=false">x</button>
				<div class="modelContent">
						<span>you are going to delete {{clickedUser.username}} Details</span>
						<div>
						<button @click="deleteview=false; deleteUser()">YES</button>
						<button @click="deleteview=false">No</button>
						<br><br>Email: {{clickedUser.email}}<br><br>
						Mobile: {{clickedUser.mobile}}
						</div>
				</div>
		</div>
	</div>

</div>

<script src="axios.js"></script>
<script src="vue.js"></script>
<script src="app.js"></script>

</body>
</html>